body {
    font: 20px Arial, sans-serif;
}
.navbar {
    background-color: #28B463;
}

.quem-somos {
    background-color: aqua;
    color: white;
}

.margin {
    padding-bottom: 50px;
    padding-top: 10px;
}

.parceiros {
    background-color: #F39C12;
}

.bg-footer {
    background-color: black;
    color: white;
}